<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Личный блог Алексея Завирюхи, посвященный концепт-картам, программированию, самообразованию и другим интересным штукам">
        <meta name="keywords" content="Алексей Завирюха, концепт-карты, anki, программирование, самообразование">
        <meta name="author" content="Алексей Завирюха">
        
        <title>Learning log | Алексей Завирюха</title>

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&amp;subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">
    </head>


    <body>
        <header>
            <div class="blog__presentation">
                <div class="blog__presentation--logo">
                    <img src="./images/logo.png" class="logo" alt="Алексей Завирюха">
                </div>

                <div class="blog__presentation--title">
                    <h1>
                        <span class="author-name">Алексей Завирюха</span>
                        <span class="blog-name">Learning Log</span>
                    </h1>
                </div>
            </div>

            <div class="github-profile">
                <a href="https://github.com/AZaviruha" target="_blank" title="My GitHub profile">
                    <img src="./images/github-icon.png" class="github-icon" alt="GitHub icon">
                </a>
            </div>
        </header>


        <div class="labeled-arrows">
            <div class="labeled-arrows__image"></div>
        </div>

        
        <div class="blog__tags">
            <div class="tag tag--active">
                <span class="name">Anki</span>
                <span class="quantity">3</span>
            </div>

            <div class="tag tag--active">
                <span class="name">Программирование</span>
                <span class="quantity">7</span>
            </div>

            <div class="tag">
                <span class="name">Самообразование</span>
                <span class="quantity">10</span>
            </div>

            <div class="tag">
                <span class="name">Концепт-карты</span>
                <span class="quantity">1</span>
            </div>

            <div class="tag">
                <span class="name">Другое...</span>
                <span class="quantity">14</span>
            </div>
        </div>



        $body$


        <footer>
            <section>
                <div class="subscription">
                    <div class="title">Хотите узнавать о появлении новых статей?</div>
                    
                    <input type="email" class="email" placeholder="Ваш e-mail">

                    <button>Подписаться</button>
                </div>
            </section>

            <section>
                <div class="add-info">
                    <div class="add-info__content">
                        <p>
                            &copy;2017, <span class="bold-text">Learning Log</span> с гордостью сгенерен с помощью <a href="https://jaspervdj.be/hakyll/" target="_blank">Hakyll</a>
                        </p>
    
                        <p>
                            Дизайн <a href="https://www.behance.net/zkristy" target="_blank">zkristy</a>
                        </p>
                    </div>
                </div>
            </section>
        </footer>
    </body>
</html>
