<section class="articles">
    $for(posts)$
        <article>
            <div class="article__header">
                <div class="article__title">
                    <!-- <h2><a href="$url$">$title$</a></h2> -->
                    <h2>$title$</h2>
                </div>
                
                <img src="http://via.placeholder.com/120x120" class="rounded-image" alt="">
            </div>

            <div class="article__content">
                <p>$tldr$</p>
            </div>

            <div class="article__tag">Программирование</div>
        </article>
    $endfor$
</section>

